In [113]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler,OneHotEncoder,KBinsDiscretizer
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [114]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [115]:
# Get counts of type column
type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Determine which values to replace if counts are less than 500
replace_application = list(type_counts[type_counts < 750].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [116]:
# Get counts of class column
class_counts = application_df['CLASSIFICATION'].value_counts()

# Determine which values to replace if counts are less than 500
replace_class = list(class_counts[class_counts < 1000].index)
# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [117]:
# Map income category to ordinal values
income_dict = {'0': 0,
               '1-9999': 1,
               '10000-24999': 2,
               '25000-99999': 3,
               '100000-499999': 4,
               '1M-5M': 5,
               '5M-10M': 6,
               '10M-50M': 7,
               '50M+': 8}

application_df['INCOME_AMT'] = application_df['INCOME_AMT'].map(income_dict)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,2,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,4,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,5,N,36500179,0

In [118]:
# Bin the asking amount into standard 5000 and other
application2_df = application_df.copy()
application2_df['ASK_AMT'] = application2_df.apply(lambda x: '5000' if x['ASK_AMT'] == 5000 else 'other', axis=1)
application2_df['ASK_AMT'].value_counts()

5000     25398
other     8901
Name: ASK_AMT, dtype: int64

In [101]:
# Generate our categorical variable lists
application_cat = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'ASK_AMT']
                   #'ASK_AMT']

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application2_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_other
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0

In [102]:
# Merge one-hot encoded features and drop the originals
merged_df = application2_df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat)
merged_df.head()

,STATUS,INCOME_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_other
0,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1,1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1,0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,1,2,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,1,4,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0

In [103]:
# Split our preprocessed data into our features and target arrays
y = merged_df['IS_SUCCESSFUL']
X = merged_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [104]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping

# Define the checkpoint path and filenames
os.makedirs("../binned/",exist_ok=True)
checkpoint_path = "../binned/weights.{epoch:02d}.hdf5"

#class SpacedCheckpoint(ModelCheckpoint):
    

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    # Batch size for each epoch times 5 to save every five epochs
    save_freq=804*5)

# Create a callback for early stopping
stop_early = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=5)

In [105]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
neurons_1 = 80
neurons_2 = 30
activation = 'relu'

nn1 = tf.keras.models.Sequential()

# First hidden layer
nn1.add(tf.keras.layers.Dense(units=neurons_1, input_dim=input_features, activation=activation))

# Second hidden layer
nn1.add(tf.keras.layers.Dense(units=neurons_2, activation=activation))

# Output layer
nn1.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn1.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 80)                2720

 dense_28 (Dense)            (None, 30)                2430

 dense_29 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,181
Trainable params: 5,181
Non-trainable params: 0
_________________________________________________________________

In [106]:
# Compile the model
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [107]:
# Train the model
fit_model = nn1.fit(X_train_scaled, y_train, epochs=50, callbacks=[cp_callback, stop_early])

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5748 - accuracy: 0.7180
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5610 - accuracy: 0.7257
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5583 - accuracy: 0.7271
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - accuracy: 0.7288
Epoch 5/50
801/804 [============================>.] - ETA: 0s - loss: 0.5560 - accuracy: 0.7279
Epoch 5: saving model to ../binned\weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7281
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7297
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7294
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7294
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7304
Epoch 10/50
789/804 [============================>.] - ETA: 0s - loss: 0.5525 - accuracy: 0.7304
Epoch 10: saving model to ../binned\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7300
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7311
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7304
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7308
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7300
Epoch 15/50
780/804 [============================>.] - ETA: 0s - loss: 0.5515 - accuracy: 0.7309
Epoch 15: saving model to ../binned\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7308
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7304
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7308
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7320
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7330
Epoch 20/50
786/804 [============================>.] - ETA: 0s - loss: 0.5500 - accuracy: 0.7319
Epoch 20: saving model to ../binned\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7321
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7318
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7323
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7316
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7318
Epoch 25/50
784/804 [============================>.] - ETA: 0s - loss: 0.5482 - accuracy: 0.7327
Epoch 25: saving model to ../binned\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7322
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7311
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7333
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7332
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7331
Epoch 30/50
797/804 [============================>.] - ETA: 0s - loss: 0.5492 - accuracy: 0.7325
Epoch 30: saving model to ../binned\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7330
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7336
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7332
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7348
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7341
Epoch 35/50
800/804 [============================>.] - ETA: 0s - loss: 0.5471 - accuracy: 0.7330
Epoch 35: saving model to ../binned\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7326
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7342
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7333
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7329
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7340
Epoch 40/50
800/804 [============================>.] - ETA: 0s - loss: 0.5476 - accuracy: 0.7337
Epoch 40: saving model to ../binned\weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7341
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7343
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7345
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7339
Epoch 45/50
793/804 [============================>.] - ETA: 0s - loss: 0.5459 - accuracy: 0.7345
Epoch 45: saving model to ../binned\weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7344
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7338
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7353
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 50/50
803/804 [============================>.] - ETA: 0s - loss: 0.5460 - accuracy: 0.7342
Epoch 50: saving model to ../binned\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7343

In [108]:
nn1.evaluate(X_test_scaled, y_test)

268/268 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7322

[0.5505865812301636, 0.7322449088096619]

In [109]:
# Save the model
nn1.save('trained_binned.h5')

In [144]:
# Remove outliers from the dataset
iqr = application_df['ASK_AMT'].quantile(0.75) - application_df['ASK_AMT'].quantile(0.25)
upper_fence = application_df['ASK_AMT'].quantile(0.75) + iqr*3

application3_df = application_df.copy()
application3_df['ASK_AMT'] = application3_df.apply(lambda x: upper_fence if x['ASK_AMT'] > upper_fence else x['ASK_AMT'], axis=1)
application3_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,5000.0,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1,N,15968.0,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000.0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,2,N,6692.0,1
4,T3,Independent,C1000,Heathcare,Trust,1,4,N,15968.0,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000.0,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000.0,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000.0,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000.0,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,5,N,15968.0,0

In [146]:
# Generate our categorical variable lists
application_cat = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'SPECIAL_CONSIDERATIONS']

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application3_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [147]:
# Merge one-hot encoded features and drop the originals
merged_df = application3_df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat)
merged_df.head()

,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,5000.0,1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,1,15968.0,1,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,0,5000.0,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,2,6692.0,1,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,4,15968.0,1,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [148]:
# Split our preprocessed data into our features and target arrays
y = merged_df['IS_SUCCESSFUL']
X = merged_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [149]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping

# Define the checkpoint path and filenames
os.makedirs("../outliers/",exist_ok=True)
checkpoint_path = "../outliers/weights.{epoch:02d}.hdf5"

#class SpacedCheckpoint(ModelCheckpoint):
    

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    # Batch size for each epoch times 5 to save every five epochs
    save_freq=804*5)

# Create a callback for early stopping
stop_early = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=5)

In [150]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
neurons_1 = 80
neurons_2 = 30
activation = 'relu'

nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(tf.keras.layers.Dense(units=neurons_1, input_dim=input_features, activation=activation))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=neurons_2, activation=activation))

# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn2.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_33 (Dense)            (None, 80)                2640

 dense_34 (Dense)            (None, 30)                2430

 dense_35 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,101
Trainable params: 5,101
Non-trainable params: 0
_________________________________________________________________

In [151]:
# Compile the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [152]:
# Train the model
fit_model = nn2.fit(X_train_scaled, y_train, epochs=50, callbacks=[cp_callback, stop_early])

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5704 - accuracy: 0.7198
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7283
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7292
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7292
Epoch 5/50
797/804 [============================>.] - ETA: 0s - loss: 0.5533 - accuracy: 0.7285
Epoch 5: saving model to ../outliers\weights.05.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7289
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7284
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7304
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7297
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7308
Epoch 10/50
790/804 [============================>.] - ETA: 0s - loss: 0.5501 - accuracy: 0.7316
Epoch 10: saving model to ../outliers\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7320
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7316
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7311
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7317
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7311
Epoch 15/50
799/804 [============================>.] - ETA: 0s - loss: 0.5485 - accuracy: 0.7310
Epoch 15: saving model to ../outliers\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7314
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7326
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7316
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7318
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7320
Epoch 20/50
780/804 [============================>.] - ETA: 0s - loss: 0.5475 - accuracy: 0.7326
Epoch 20: saving model to ../outliers\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7327
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7320
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7317
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7329
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7324
Epoch 25/50
779/804 [============================>.] - ETA: 0s - loss: 0.5458 - accuracy: 0.7331
Epoch 25: saving model to ../outliers\weights.25.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7329
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7330
Epoch 30/50
799/804 [============================>.] - ETA: 0s - loss: 0.5454 - accuracy: 0.7323
Epoch 30: saving model to ../outliers\weights.30.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7322
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7338
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7341
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7328
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7339
Epoch 35/50
798/804 [============================>.] - ETA: 0s - loss: 0.5449 - accuracy: 0.7341
Epoch 35: saving model to ../outliers\weights.35.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7343
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7337
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7339
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7353
Epoch 40/50
803/804 [============================>.] - ETA: 0s - loss: 0.5436 - accuracy: 0.7343
Epoch 40: saving model to ../outliers\weights.40.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7336
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7351
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7341
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7350
Epoch 45/50
783/804 [============================>.] - ETA: 0s - loss: 0.5433 - accuracy: 0.7339
Epoch 45: saving model to ../outliers\weights.45.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7343
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7345
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7352
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7352
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 50/50
799/804 [============================>.] - ETA: 0s - loss: 0.5431 - accuracy: 0.7343
Epoch 50: saving model to ../outliers\weights.50.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7345

In [153]:
nn2.evaluate(X_test_scaled, y_test)

268/268 [==============================] - 1s 2ms/step - loss: 0.5585 - accuracy: 0.7272

[0.5585302710533142, 0.7272303104400635]

In [154]:
nn2.save('trained_outliers.h5')

In [155]:
application3_df = application_df.copy()

In [157]:
# Generate our categorical variable lists
application_cat = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'SPECIAL_CONSIDERATIONS']

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application3_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [158]:
# Merge one-hot encoded features and drop the originals
merged_df = application3_df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat)
merged_df.head()

,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,0,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,2,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,4,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [159]:
# Split our preprocessed data into our features and target arrays
y = merged_df['IS_SUCCESSFUL']
X = merged_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [160]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping

# Define the checkpoint path and filenames
os.makedirs("../tuning/",exist_ok=True)
checkpoint_path = "../tuning/weights.{epoch:02d}.hdf5"

#class SpacedCheckpoint(ModelCheckpoint):
    

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    # Batch size for each epoch times 5 to save every five epochs
    save_freq=804*5)

# Create a callback for early stopping
stop_early = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=5)

In [161]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Use ReLU for activation
    #activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=50,
        max_value=150,
        step=20), activation='relu', input_dim=32))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 2, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=25,
            max_value=125,
            step=10),
            activation='relu'))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [162]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=10,
    hyperband_iterations=2,
    overwrite=True,
    directory='./hypermodel')

In [163]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled, y_train, epochs=50, validation_data=(X_test_scaled,y_test), callbacks=[cp_callback, stop_early])

Trial 60 Complete [00h 01m 02s]
val_accuracy: 0.7323614954948425

Best val_accuracy So Far: 0.7323614954948425
Total elapsed time: 00h 17m 08s
INFO:tensorflow:Oracle triggered exit

In [164]:
# Get the best set of hyperparameters
hps = tuner.get_best_hyperparameters()[0]
hps.values

{'first_units': 130,
 'num_layers': 5,
 'units_0': 95,
 'units_1': 105,
 'units_2': 85,
 'units_3': 125,
 'units_4': 105,
 'tuner/epochs': 10,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [165]:
model = tuner.hypermodel.build(hps)
history = model.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback, stop_early])

Epoch 1/100
804/804 [==============================] - 6s 6ms/step - loss: 0.5723 - accuracy: 0.7211
Epoch 2/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5619 - accuracy: 0.7266
Epoch 3/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5587 - accuracy: 0.7294
Epoch 4/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5576 - accuracy: 0.7295
Epoch 5/100
803/804 [============================>.] - ETA: 0s - loss: 0.5557 - accuracy: 0.7310
Epoch 5: saving model to ../tuning\weights.05.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.5557 - accuracy: 0.7310
Epoch 6/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5553 - accuracy: 0.7315
Epoch 7/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5549 - accuracy: 0.7299
Epoch 8/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5535 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5534 - accuracy: 0.7306
Epoch 10/100
796/804 [============================>.] - ETA: 0s - loss: 0.5524 - accuracy: 0.7314
Epoch 10: saving model to ../tuning\weights.10.hdf5
804/804 [==============================] - 5s 7ms/step - loss: 0.5522 - accuracy: 0.7316
Epoch 11/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5526 - accuracy: 0.7320
Epoch 12/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5516 - accuracy: 0.7313
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5511 - accuracy: 0.7327
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5510 - accuracy: 0.7325
Epoch 15/100
802/804 [============================>.] - ETA: 0s - loss: 0.5510 - accuracy: 0.7320
Epoch 15: saving model to ../tuning\weights.15.hdf5
804/804 [==============================] - 5s 6ms/step - loss: 0.5510 - accuracy: 0.7320
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5512 - accuracy: 0.7300
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5499 - accuracy: 0.7330
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5498 - accuracy: 0.7333
Epoch 19/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5503 - accuracy: 0.7325
Epoch 20/100
799/804 [============================>.] - ETA: 0s - loss: 0.5495 - accuracy: 0.7336
Epoch 20: saving model to ../tuning\weights.20.hdf5
804/804 [==============================] - 5s 7ms/step - loss: 0.5498 - accuracy: 0.7334
Epoch 21/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5497 - accuracy: 0.7326
Epoch 22/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5495 - accuracy: 0.7333
Epoch 23/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5490 - accuracy: 0.7342
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5487 - accuracy: 0.7331
Epoch 25/100
802/804 [============================>.] - ETA: 0s - loss: 0.5485 - accuracy: 0.7349
Epoch 25: saving model to ../tuning\weights.25.hdf5
804/804 [==============================] - 5s 7ms/step - loss: 0.5485 - accuracy: 0.7349
Epoch 26/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5486 - accuracy: 0.7331
Epoch 27/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5476 - accuracy: 0.7342
Epoch 28/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5489 - accuracy: 0.7339
Epoch 29/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5485 - accuracy: 0.7331
Epoch 30/100
801/804 [============================>.] - ETA: 0s - loss: 0.5477 - accuracy: 0.7333
Epoch 30: saving model to ../tuning\weights.30.hdf5
804/804 [==============================] - 5s 7ms/step - loss: 0.5477 - accuracy: 0.7333
Epoch 31/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5476 - accuracy: 0.7338

In [166]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5630 - accuracy: 0.7300 - 1s/epoch - 4ms/step
Loss: 0.5629836320877075, Accuracy: 0.7300291657447815